<p-panelMenu [model]="submenu" class="w-full" data-test="submenu" #panelMenu>
	<ng-template pTemplate="item" let-item>
		@if (item.route) {
			<a
				[routerLink]="item.route"
				[routerLinkActive]="'active'"
				class="flex align-items-center cursor-pointer text-color px-3 py-2 no-underline"
				(click)="clickSubmenu($event)"
				[attr.data-cy]="'submenu-button-click-' + item.id"
			>
				<i class="material-icons-outlined">{{ item.icon }}</i>
				<span class="ml-2 text-color">{{ item.label }}</span>
			</a>
		} @else {
			<span
				class="flex align-items-center justify-content-between cursor-pointer text-color px-3 py-2"
				[attr.data-test]="'submenu-panel-label-' + item.id"
			>
				<span class="ml-2">{{ item.label }}</span>
				@if (item.items && item.expanded) {
					<i class="material-icons-outlined">remove</i>
				} @else if (item.items) {
					<i class="material-icons-outlined">add</i>
				}
			</span>
		}
	</ng-template>
</p-panelMenu>
