<p-sidebar
	#sidebarRef
	[(visible)]="sidebarVisible"
	(onHide)="onCloseSidebar()"
	data-test="sidebar"
	[position]="'right'"
	showCloseIcon="false"
>
	<ng-template pTemplate="header">
		<div class="w-full flex justify-content-between mb-6 mr-5">
			<i class="material-icons-outlined">more_vert</i>
			<i class="material-icons-outlined" (click)="onCloseSidebar()">close</i>
		</div>
	</ng-template>
	<p-panelMenu [model]="itemsBackup" styleClass="w-full" data-test="sidebar-menu" #panelMenu>
		<ng-template pTemplate="item" let-item>
			@if (item.route) {
				<a
					[routerLink]="item.route"
					[routerLinkActive]="'active'"
					class="flex align-items-center cursor-pointer text-color px-3 py-2 no-underline"
					[attr.data-cy]="'sidebar-button-click-' + item.id"
					(click)="onCloseSidebar()"
				>
					<i class="material-icons-outlined">{{ item.icon }}</i>
					<span class="ml-2 text-color">{{ item.label }}</span>
				</a>
			} @else {
				<span
					class="painel-menu-item flex align-items-center justify-content-between cursor-pointer text-color px-3 py-2"
					[attr.data-test]="'sidebar-panel-label-' + item.id"
					(click)="onClick(item)"
				>
					<div class="flex align-items-center">
						<i class="material-icons-outlined">{{ item.icon }}</i>
						<span class="ml-2">{{ item.label }}</span>
					</div>

					@if (item.items && item.expanded && !item.notExpandIcon) {
						<i class="material-icons-outlined">remove</i>
					} @else if (item.items && !item.expanded && !item.notExpandIcon) {
						<i class="material-icons-outlined">add</i>
					}
				</span>
			}
		</ng-template>
	</p-panelMenu>
	<div class="mt-6 ml-1 icon-buttons">
		<i class="material-icons-outlined" (click)="onGoToPage('admin/configuracao')">settings</i>
	</div>
	<div class="mt-6 ml-1 icon-buttons">
		<i class="material-icons-outlined" (click)="logout()">logout</i>
	</div>
</p-sidebar>
