<div class="container">
	<app-notification></app-notification>
	<h3 class="text-lg mb-6">Entrar no sistema</h3>
	<p-card class="p-fluid">
	<form autocomplete="off">
		<div class="field relative mb-6">
			<p-floatLabel>
				<input
					pInputText
					id="email"
					type="email"
					[formControl]="email"
					(blur)="updateErrorMessage()"
					data-testid="login-input-email"
					placeholder="Digite seu email"
					aria-describedby="email-help"
					[ngClass]="errorMessage().email ? 'ng-invalid ng-dirty' : ''"
					autocomplete="off"
					tabindex="1"
					autofocus
				/>
				<label for="email">Email</label>
			</p-floatLabel>
			@if (email.invalid) {
				<small id="email-help" class="p-error absolute" data-test="login-error-email">
					{{ errorMessage().email }}
				</small>
			}
		</div>

		<div class="field relative mb-6">
			<p-floatLabel>
				<input
					pInputText
					id="password"
					type="password"
					[formControl]="password"
					(blur)="updateErrorMessage()"
					data-testid="login-input-password"
					placeholder="Digite sua senha"
					aria-describedby="password-help"
					[ngClass]="errorMessage().password ? 'ng-invalid ng-dirty' : ''"
					autocomplete="off"
					tabindex="2"
				/>
				<label for="password">Senha</label>
			</p-floatLabel>
			@if (password.invalid) {
				<small id="password-help" class="p-error absolute" data-test="login-error-password">
					{{ errorMessage().password }}
				</small>
			}
		</div>
		<p-button
			type="submit"
			tabindex="3"
			mat-flat-button
			color="primary"
			(click)="login($event)"
			data-cy="login-button-enter"
		>
			Entrar
		</p-button>
	</form>
	</p-card>
</div>
