@if (!toDoController.todos.length) {
	<div class="container">
		<img src="assets/img/task-list-null.png" alt="sua lista está vázia" loading="eager" />

		@if (isAddItem()) {
			<button class="btn btn-primary" (click)="isAddItem.set(false)" data-cy="to-do-create-button">
				Crie uma lista de tarefas
			</button>
		} @else {
			<app-input-add-item
				[inputListItems]="toDoController.todos"
				(outputAddListItem)="addItem($event)"
			></app-input-add-item>
		}
	</div>
} @else {
	<app-input-add-item
		[inputListItems]="toDoController.todos"
		(outputAddListItem)="addItem($event)"
	></app-input-add-item>

	<main class="container">
		@if (this.toDoController.uncompletedTodos.length) {
			<h3>Pendentes</h3>
			<app-input-list-item
				[inputListItems]="toDoController.uncompletedTodos"
				(outputUpdateItemCheckbox)="updateStageItem($event)"
				(outputUpdateItemValue)="updateItem($event)"
				(outputUpdateItemDelete)="deleteItem($event.id)"
			></app-input-list-item>
		}
		@if (this.toDoController.completedTodos.length) {
			<h3>Concluídas</h3>
			<app-input-list-item
				[inputListItems]="this.toDoController.completedTodos"
				(outputUpdateItemCheckbox)="updateStageItem($event)"
				(outputUpdateItemValue)="updateItem($event)"
				(outputUpdateItemDelete)="deleteItem($event.id)"
			></app-input-list-item>
		}
	</main>
	<footer>
		<button class="btn btn-danger" (click)="removeAllItems()" data-cy="to-do-remove-all-items">
			Deletar todos os items
		</button>
	</footer>
}
