<div class="flex flex-column">
	<div class="col md:mt-5 md:mx-8 grid gap-2">
		<app-card
			class="col-12 xl:col"
			[titleIconBgColor]="'info'"
			titleName="Carência Escolar"
			[titleNumber]="48.689"
			[statistics]="{ number: 1, text: 'Up from past week' }"
			[titleIconImage]="{ src: 'assets/icons/people.png', alt: 'Carência Escolar' }"
		></app-card>

		<app-card
			class="col-12 xl:col"
			[titleIconBgColor]="'warning'"
			titleName="Escolas Homologadas"
			[titleNumber]="2536"
			[statistics]="{ number: 1.3, text: 'Up from past week' }"
			[titleIconImage]="{ src: 'assets/icons/box.png', alt: 'Escolas Homologadas' }"
		></app-card>

		<app-card
			class="col-12 xl:col"
			[titleIconBgColor]="'success'"
			titleName="Nome grande para vê como fica aqui"
			[titleNumber]="2536"
			[statistics]="{ number: -4.3, text: 'Down from yesterday' }"
			[titleIconImage]="{ src: 'assets/icons/graphic.png', alt: 'Escolas Homologadas' }"
		></app-card>
	</div>

	<div class="col md:my-5 md:mx-8">
		<app-table [data]="data">
			<tr slot="header">
				@for (column of columns; track $index) {
					<th [class]="column?.class">{{ column.header }}</th>
				}
			</tr>

			@for (item of data; track item) {
				<tr slot="body">
					<td>
						{{ item.codigo }}
					</td>
					<td>
						{{ item.escola }}
					</td>
					<td>
						{{ item.cidade }}
					</td>
					<td>
						{{ item.data | date: 'dd/MM/yyyy' }}
					</td>
					<td class="text-center">
						<app-tag [value]="item.situacao"></app-tag>
					</td>
				</tr>
			}
		</app-table>
	</div>
</div>
