* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

body.mat-typography *:not(.mat-icon) {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 22px;
}

h2,
h3 {
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
a {
	color: var(--white);
	text-decoration: none;
}

@media (prefers-color-scheme: light) {
	h1,
	h2,
	h3,
	h4,
	h5,
	a {
		color: var(--black);
		text-decoration: none;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--black);
	}
}

p {
	color: var(--grey);
	font-size: 14px;
	margin: 10px 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
