@for (it of item; track it; let i = $index) {
	<mat-list-item (click)="toggleSubcategory(i)" class="items" @expand>
		<div class="title" [ngStyle]="{ 'padding-left': calcPadding(levelIndex) }">
			<span>{{ it?.name }}</span>
			@if (it?.subcategories && it?.expanded) {
				<mat-icon>keyboard_arrow_up</mat-icon>
			} @else if (it?.subcategories && !it?.expanded) {
				<mat-icon>keyboard_arrow_down</mat-icon>
			}
		</div>
	</mat-list-item>
	<div *ngIf="it?.subcategories && it?.expanded" class="submenu" @expand>
		<mat-list>
			<app-menu-vertical
				[item]="it?.subcategories"
				[levelIndex]="levelIndex + 1"
				[isMobile]="isMobile"
			></app-menu-vertical>
		</mat-list>
	</div>
}
