:host {
  display: block; /* Garante que o componente ocupe a largura total do pai */
  width: 100%;
}

.p-field {
  margin-bottom: 1rem;
  width: 100%;
}

.p-field input{
  width: 100%;
}

.p-error {
  color: #f44336;
}

.p-invalid {
  border-color: #f44336 !important;
  background-color: #fff5f5 !important;
}
