::ng-deep {
	.p-datatable-wrapper {
		.p-datatable-table {
			.p-datatable-thead {
				background-color: #fcfdfd;

				//arrendondar os cantos do header da tabela para que o border-radius fique mais visivel
				tr:last-child th {
					&:first-child {
						border-top-left-radius: 20px;
					}

					&:last-child {
						border-top-right-radius: 20px;
					}
				}

				tr th {
					color: var(--text-color);
					padding: 1rem 2rem;
				}
			}

			.p-datatable-tbody {
				& > tr:last-child {
					margin-bottom: 1rem;
				}

				& > tr td {
					padding: 1.8rem 2rem;
					font-weight: 500;
				}
			}
		}
	}
}

.p-card {
	border: 1px solid #ededed;
	overflow: hidden;
	border-radius: 20px;
	padding-bottom: 1rem;
}
