::ng-deep {
	.p-datatable-wrapper {
		// border-radius: 20px;
		// overflow: hidden;
		border-top: 1px solid #ededed;
		border-bottom: 1px solid #ededed;

		.p-datatable-table {
			// border-radius: 20px;

			// border: 1px solid #edeef4;

			.p-datatable-thead {
				background-color: #fcfdfd;

				//arrendondar os cantos do header da tabela para que o border-radius fique mais visivel
				tr:last-child th {
					&:first-child {
						border-top-left-radius: 20px;
					}

					&:last-child {
						border-top-right-radius: 20px;
					}
				}

				tr th {
					color: #1d3460;
					border-bottom: 2px solid #ededed;
					// border-bottom: 2px solid #f2f3f3;
				}
			}

			.p-datatable-tbody {
				& > tr:last-child {
					border: 2px solid #ededed;
					margin-bottom: 1rem;
				}

				& > tr {
					color: #37393a;
				}
			}
		}
	}
}

.card {
	border: 1px solid #ededed;
	overflow: hidden;
	border-radius: 20px;
	padding-bottom: 1rem;
}
