<div class="example-container dark" [class.example-is-mobile]="mobileQuery.matches">
	<mat-toolbar class="example-toolbar">
		<button mat-icon-button (click)="snav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<h1 class="example-app-name">Responsive TEST</h1>
	</mat-toolbar>

	<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
		<mat-sidenav
			class="mat-sidenav"
			#snav
			[mode]="'over'"
			[fixedInViewport]="mobileQuery.matches"
			fixedTopGap="56"
			(closed)="closeMenu()"
			[(opened)]="menuOpened"
		>
			<div class="nav-container" [ngClass]="isMobile ? 'vertical-layout' : 'horizontal-layout'">
				<div
					*ngFor="let level of levels; let i = index"
					class="column"
					[@columnAnimation]="isMobile ? 'expandDown' : 'expandRight'"
				>
					<mat-list>
						@for (item of level; track item) {
							<mat-list-item (click)="toggleSubcategory(item, i + 1)">
								<div class="title">
									{{ item.name }}
									@if (item?.subcategories && item?.expanded) {
										<mat-icon>keyboard_arrow_left</mat-icon>
									} @else if (item?.subcategories && !item?.expanded) {
										<mat-icon>keyboard_arrow_right</mat-icon>
									}
								</div>
							</mat-list-item>
							<div *ngIf="isMobile && item.expanded" class="submenu">
								<app-menu-vertical
									[item]="item?.subcategories"
									[levelIndex]="1"
									[isMobile]="isMobile"
								></app-menu-vertical>
							</div>
						}
					</mat-list>
				</div>
			</div>
		</mat-sidenav>

		<mat-sidenav-content>
			<ng-content></ng-content>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
