.example-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	mat-sidenav {
		width: fit-content;
		border-radius: 0;
		border-right: 2px solid var(--black-010);

		@media (max-width: 768px) {
			& {
				min-width: 60%;
			}
		}
	}
}

.example-is-mobile .example-toolbar {
	position: fixed;
	z-index: 2;
}

h1.example-app-name {
	margin-left: 8px;
}

.example-sidenav-container {
	flex: 1;
}

.example-is-mobile .example-sidenav-container {
	flex: 1 0 auto;
}

.mat-drawer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-container {
	display: flex;
	&.horizontal-layout {
		flex-direction: row;
		.column {
			min-width: 250px;
			margin-right: 16px;
			transition: transform 0.3s ease;
		}
	}
	&.vertical-layout {
		display: block;
		height: auto;
		.column {
			width: 100%;
			margin-bottom: 16px;
			transition: transform 0.3s ease;
		}
	}
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
