<p-toolbar class="md:my-5 md:mx-8 z-1" [ngClass]="isMobile ? '' : 'md:block hidden'">
	@if (isMobile) {
		<div class="p-toolbar-group-start">
			<p-button icon="pi pi-bars" class="col" (click)="openCloseSidebar()"></p-button>
		</div>
	}
	<div class="p-toolbar-group-center">
		<p-splitButton
			class="mr-2"
			[label]="getFont(this.layoutService.selectedFont)"
			[model]="this.layoutService.fontItems"
		/>
		<p-splitButton [label]="getThemeName(this.layoutService.selectedTheme)" [model]="this.layoutService.themeItems" />
	</div>
	<div class="p-toolbar-group-end">
		<p class="mr-2 strong">{{ user.email }}</p>
		<p-button icon="pi pi-sign-out" (click)="logout()"></p-button>
	</div>
</p-toolbar>
