<p-toolbar class="md:my-5 md:mx-8 z-1" [ngClass]="isMobile ? '' : 'md:block hidden'" data-test="header">
	@if (isMobile) {
		<div class="p-toolbar-group-start">
			<p-button
				icon="pi pi-bars"
				class="col"
				(click)="openCloseSidebar()"
				data-cy="header-button-open-close-sidebar"
			></p-button>
		</div>
	}
	<div class="p-toolbar-group-center">
		<p-splitButton
			class="mr-2"
			[label]="getFont(this.layoutService.selectedFont)"
			[model]="this.layoutService.fontItems"
			data-cy="header-button-change-font"
		/>
		<p-splitButton
			[label]="getThemeName(this.layoutService.selectedTheme)"
			[model]="this.layoutService.themeItems"
			data-cy="header-button-change-theme"
		/>
	</div>
	<div class="p-toolbar-group-end">
		<p class="mr-2 strong" data-test="header-user">{{ user.email }}</p>
		<p-button icon="pi pi-sign-out" (click)="logout()" data-cy="header-button-logout"></p-button>
	</div>
</p-toolbar>
