<div class="example-container dark example-is-mobile">
	<mat-toolbar class="example-toolbar" [ngClass]="!isMobile ? 'hide' : ''">
		<button mat-icon-button (click)="snav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<h1 class="example-app-name">Menu Principal</h1>
	</mat-toolbar>
	<mat-sidenav-container class="example-sidenav-container" [ngClass]="!isMobile ? 'margin-top-none' : ''">
		<mat-sidenav class="mat-sidenav" #snav [mode]="'side'" (closed)="closeMenu()" [(opened)]="menuOpened">
			<div class="nav-container" [ngClass]="isMobile ? 'vertical-layout' : 'horizontal-layout'">
				<mat-nav-list>
					@for (category of menu; track category) {
						<div class="category" (click)="openSubmenu($event, category.name)">
							{{ category.name }}
							@if (category?.subcategories) {
								<mat-icon>keyboard_arrow_right</mat-icon>
							}
						</div>
					}
				</mat-nav-list>
				<div
					*ngIf="openCategory"
					class="submenu"
					[style.top.px]="submenuPosition.y"
					[style.left.px]="submenuPosition.x"
				>
					@for (category of menu; track category) {
						@if (openCategory === category.name) {
							<mat-accordion>
								<app-item-menu [menuCategory]="category?.subcategories"></app-item-menu>
							</mat-accordion>
						}
					}
				</div>
			</div>
		</mat-sidenav>

		<mat-sidenav-content style="position: relative">
			<app-notification></app-notification>
			<ng-content></ng-content>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
