<header [ngClass]="{ 'has-items': inputListItems.length }">
	@if (inputListItems.length > 0) {
		<h1>Minha lista</h1>
	}
	<div [ngClass]="{ container: inputListItems.length }">
		<label class="input-label-text" for="input-value" [ngClass]="{ 'remove-margin-bottom': !inputListItems.length }">
			<input
				type="text"
				id="input-value"
				placeholder="Adicione um novo item"
				autofocus
				(keyup.enter)="focustAndAddItem(inputValue.value)"
				#inputValue
				data-cy="login-input"
			/>
			<button
				class="btn btn-primary-circle"
				title="Adicionar um novo item"
				(click)="focustAndAddItem(inputValue.value)"
			></button>
		</label>
	</div>
</header>
