<div class="block md:flex md:flex-row mx-0 min-h-full">
	@if (!isMobile) {
		<div
			class="col-fixed min-h-full menu-lateral flex flex-column align-items-center z-5 gap-7 py-6"
			data-test="sidemenu"
		>
			<div class="flex flex-column gap-2">
				<div class="sidemenu-items" [attr.data-cy]="'sidemenu-button-notification'">
					<i class="material-icons-outlined" [ngStyle]="{ color: '#0050A9' }">notifications</i>
				</div>
				<div class="sidemenu-items" [attr.data-cy]="'sidemenu-button-more'">
					<i class="material-icons-outlined" [ngStyle]="{ color: '#0050A9' }">more_horiz</i>
				</div>
			</div>
			<div class="flex flex-column gap-3">
				@for (category of menu; track category) {
					<div
						class="category"
						(click)="openSubmenu($event, category.label, category?.items)"
						appClickOutside
						(closeMenu)="closeMenu($event)"
						(outputClickSubmenu)="closeMenu($event)"
						[attr.data-test]="'sidemenu-item-' + category.id"
						[ngClass]="openCategory === category.label ? 'active' : ''"
					>
						<i class="material-icons-outlined" [ngStyle]="{ color: category.color }">
							{{ category.icon }}
						</i>
						<span class="category-label">{{ category.label }}</span>
					</div>
				}
			</div>
			@if (openCategory) {
				<div
					class="submenu"
					[style.top.px]="submenuPosition.y"
					[style.left.px]="submenuPosition.x"
					data-test="sidemenu-subitem"
				>
					@for (category of menu; track category) {
						@if (openCategory === category.label) {
							<app-submenu (outputClickSubmenu)="closeMenu($event)" [submenu]="category.items"></app-submenu>
						}
					}
				</div>
			}
			<div class="flex flex-column gap-1">
				<div class="sidemenu-items" [attr.data-cy]="'sidemenu-button-notification'">
					<i class="material-icons-outlined" [ngStyle]="{ color: '#0050A9' }" [routerLink]="['configuracao']">
						settings
					</i>
				</div>
				<div class="sidemenu-items" [attr.data-cy]="'sidemenu-button-logout'">
					<i class="material-icons-outlined" [ngStyle]="{ color: '#0050A9' }" (click)="logout()">exit_to_app</i>
				</div>
			</div>
		</div>
	} @else {
		<div class="col-12">
			<app-dashboard-header [isMobile]="isMobile" (openSidebar)="sidebarVisible = $event"></app-dashboard-header>
		</div>
	}

	<app-sidebar [sidebarVisible]="sidebarVisible" (closeSidebar)="sidebarVisible = false" [items]="menu"></app-sidebar>
	<div class="col flex flex-column" data-test="sidemenu-content">
		<ng-content></ng-content>
	</div>
</div>
