<div class="grid mx-0 md:min-h-full">
	@if (!isMobile) {
		<div class="col-fixed min-h-full menu-lateral flex flex-column align-items-center z-5" data-test="sidemenu">
			@for (category of menu; track category) {
				<div
					class="category"
					(click)="openSubmenu($event, category.label, category?.items)"
					appClickOutside
					(closeMenu)="closeMenu($event)"
					(outputClickSubmenu)="closeMenu($event)"
					[attr.data-test]="'sidemenu-item-' + category.id"
					[ngClass]="openCategory === category.label ? 'active' : ''"
				>
					<i [class]="category.icon" style="font-size: 1.5rem" [ngStyle]="{ color: category.color }"></i>
				</div>
			}
			@if (openCategory) {
				<div
					class="submenu"
					[style.top.px]="submenuPosition.y"
					[style.left.px]="submenuPosition.x"
					data-test="sidemenu-subitem"
				>
					@for (category of menu; track category) {
						@if (openCategory === category.label) {
							<app-submenu (outputClickSubmenu)="closeMenu($event)" [submenu]="category.items"></app-submenu>
						}
					}
				</div>
			}
		</div>
	} @else {
		<div class="col-12">
			<app-dashboard-header [isMobile]="isMobile" (openSidebar)="sidebarVisible = $event"></app-dashboard-header>
		</div>
	}

	<app-sidebar [sidebarVisible]="sidebarVisible" (closeSidebar)="sidebarVisible = false" [items]="menu"></app-sidebar>
	<div class="col flex flex-column" data-test="sidemenu-content">
		<ng-content></ng-content>
	</div>
</div>
