.menu-lateral {
	width: 82px;
	background-color: var(--surface-a);
	box-shadow: 5px 1px 5px 1px var(--menu-box-shadow);
}

.sidemenu-items {
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	user-select: none;
	gap: 8px;
	cursor: pointer;
	border-radius: 80px;

	i {
		font-size: 24px;
	}

	&:hover,
	&.active {
		background-color: var(--blue-200);
	}
}

.category {
	padding: 8px 4px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	user-select: none;
	text-align: center;
	line-height: 14px;
	border-radius: 14px;

	i {
		font-size: 24px;
	}

	&.active,
	&:hover {
		background-color: var(--blue-200);
	}

	.category-label {
		font-size: 10px;
		font-weight: 300;
		color: var(--blue-500);
	}
}

.submenu {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: var(--surface-a);
	width: 200px;
	border: 1px solid var(--gray-100);
	border-radius: 16px;
	z-index: 9999;
	overflow: auto;
	max-height: -webkit-fill-available;
	min-height: auto;
}
