@use 'variables';

@use '@angular/material' as mat;
@use '@angular/material/core/m2';
@use 'sass:string';

@include mat.core();

$light-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: mat.$blue-palette
		)
	)
);

// $dark-theme: mat.define-theme(
// 	(
// 		color: (
// 			theme-type: dark,
// 			primary: mat.$violet-palette,
// 			tertiary: mat.$green-palette
// 		),
// 		typography: (
// 			brand-family: 'Arial',
// 			bold-weight: 900
// 		)
// 	)
// );

$dark-primary-text: rgba(0, 0, 0, 0.87);
$light-primary-text: rgba(255, 255, 255, 0.87);

$custom-palette: (
	50: #ffebee,
	100: #ffcdd2,
	200: #ef9a9a,
	300: #e57373,
	400: #ef5350,
	500: #f44336,
	600: #e53935,
	700: rgb(20, 70, 146),
	800: #c62828,
	900: #b71c1c,
	A100: #ff8a80,
	A200: #ff5252,
	A400: #ff1744,
	A700: #d50000,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text
	)
);

$primary: m2.define-palette($custom-palette, 700);
$accent: m2.define-palette(m2.$yellow-palette, 400);
$warn: m2.define-palette(m2.$red-palette, 400);

$dark-theme: m2.define-dark-theme(
	(
		color: (
			primary: $primary,
			accent: $accent,
			warn: $warn
		)
	)
);

// $default-font-family: string.unquote('Arial, Helvetica, sans-serif');
// $dark-theme: m2.define-dark-theme(
// 	(
// 		color: (
// 			primary: $primary,
// 			accent: $accent,
// 			warn: $warn
// 		),
// 		typography:
// 			m2.define-legacy-typography-config(
// 				$font-family: $default-font-family,
// 				$display-4: m2.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
// 				$display-3: m2.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
// 				$display-2: m2.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
// 				$display-1: m2.define-typography-level(34px, 40px, 400),
// 				$headline: m2.define-typography-level(24px, 32px, 400),
// 				$title: m2.define-typography-level(20px, 32px, 500),
// 				$subheading-2: m2.define-typography-level(16px, 28px, 400),
// 				$subheading-1: m2.define-typography-level(15px, 24px, 400),
// 				$body-2: m2.define-typography-level(14px, 24px, 500),
// 				$body-1: m2.define-typography-level(14px, 20px, 400),
// 				$caption: m2.define-typography-level(12px, 20px, 400),
// 				$button: m2.define-typography-level(14px, 14px, 500),
// 				$input: m2.define-typography-level(inherit, 1.125, 400)
// 			),
// 		density: 0
// 	)
// );

// Foreground Elements

// Light Theme Text
// $dark-text: #f7f4f4;
// $dark-primary-text: rgba($dark-text, 0.87);
// $dark-accent-text: rgba($dark-primary-text, 0.54);
// $dark-disabled-text: rgba($dark-primary-text, 0.38);
// $dark-dividers: rgba($dark-primary-text, 0.12);
// $dark-focused: rgba($dark-primary-text, 0.12);

// $mat-light-theme-foreground: (
// 	base: black,
// 	divider: $dark-dividers,
// 	dividers: $dark-dividers,
// 	disabled: $dark-disabled-text,
// 	disabled-button: rgba($dark-text, 0.26),
// 	disabled-text: $dark-disabled-text,
// 	elevation: black,
// 	secondary-text: $dark-accent-text,
// 	hint-text: $dark-disabled-text,
// 	accent-text: $dark-accent-text,
// 	icon: $dark-accent-text,
// 	icons: $dark-accent-text,
// 	text: $dark-primary-text,
// 	slider-min: $dark-primary-text,
// 	slider-off: rgba($dark-text, 0.26),
// 	slider-off-active: $dark-disabled-text
// );

// // Dark Theme text
// $light-text: #ffffff;
// $light-primary-text: $light-text;
// $light-accent-text: rgba($light-primary-text, 0.7);
// $light-disabled-text: rgba($light-primary-text, 0.5);
// $light-dividers: rgba($light-primary-text, 0.12);
// $light-focused: rgba($light-primary-text, 0.12);

// $mat-dark-theme-foreground: (
// 	base: $light-text,
// 	divider: $light-dividers,
// 	dividers: $light-dividers,
// 	disabled: $light-disabled-text,
// 	disabled-button: rgba($light-text, 0.3),
// 	disabled-text: $light-disabled-text,
// 	elevation: black,
// 	hint-text: $light-disabled-text,
// 	secondary-text: $light-accent-text,
// 	accent-text: $light-accent-text,
// 	icon: $light-text,
// 	icons: $light-text,
// 	text: $light-text,
// 	slider-min: $light-text,
// 	slider-off: rgba($light-text, 0.3),
// 	slider-off-active: rgba($light-text, 0.3)
// );

// // Background config
// // Light bg
// $light-background: #1b0606;
// $light-bg-darker-5: darken($light-background, 5%);
// $light-bg-darker-10: darken($light-background, 10%);
// $light-bg-darker-20: darken($light-background, 20%);
// $light-bg-darker-30: darken($light-background, 30%);
// $light-bg-lighter-5: lighten($light-background, 5%);
// $dark-bg-tooltip: lighten(#2c2c2c, 20%);
// $dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
// $dark-bg-alpha-12: rgba(#2c2c2c, 0.12);

// $mat-light-theme-background: (
// 	background: $light-background,
// 	status-bar: $light-bg-darker-20,
// 	app-bar: $light-bg-darker-5,
// 	hover: $dark-bg-alpha-4,
// 	card: $light-bg-lighter-5,
// 	dialog: $light-bg-lighter-5,
// 	tooltip: $dark-bg-tooltip,
// 	disabled-button: $dark-bg-alpha-12,
// 	raised-button: $light-bg-lighter-5,
// 	focused-button: $dark-focused,
// 	selected-button: $light-bg-darker-20,
// 	selected-disabled-button: $light-bg-darker-30,
// 	disabled-button-toggle: $light-bg-darker-10,
// 	unselected-chip: $light-bg-darker-10,
// 	disabled-list-option: $light-bg-darker-10
// );

// // Dark bg
// $dark-background: #030000;
// $dark-bg-lighter-5: lighten($dark-background, 5%);
// $dark-bg-lighter-10: lighten($dark-background, 10%);
// $dark-bg-lighter-20: lighten($dark-background, 20%);
// $dark-bg-lighter-30: lighten($dark-background, 30%);
// $light-bg-alpha-4: rgba(#fafafa, 0.04);
// $light-bg-alpha-12: rgba(#fafafa, 0.12);

// // Background palette for dark themes.
// $mat-dark-theme-background: (
// 	background: $dark-background,
// 	status-bar: $dark-bg-lighter-20,
// 	app-bar: $dark-bg-lighter-5,
// 	hover: $light-bg-alpha-4,
// 	card: $dark-bg-lighter-5,
// 	dialog: $dark-bg-lighter-5,
// 	tooltip: $dark-bg-lighter-20,
// 	disabled-button: $light-bg-alpha-12,
// 	raised-button: $dark-bg-lighter-5,
// 	focused-button: $light-focused,
// 	selected-button: $dark-bg-lighter-20,
// 	selected-disabled-button: $dark-bg-lighter-30,
// 	disabled-button-toggle: $dark-bg-lighter-10,
// 	unselected-chip: $dark-bg-lighter-20,
// 	disabled-list-option: $dark-bg-lighter-10
// );

// // Compute font config
// // @include mat.core($fontConfig);

// body {
// 	--primary-color: #cc33ca;
// 	--primary-lighter-color: #f0c2ef;
// 	--primary-darker-color: #b920b7;
// 	--text-primary-color: #{$light-primary-text};
// 	--text-primary-lighter-color: #{$dark-primary-text};
// 	--text-primary-darker-color: #{$light-primary-text};
// }
// $mat-primary: (
// 	main: #cc33ca,
// 	lighter: #f0c2ef,
// 	darker: #b920b7,
// 	200: #cc33ca,
// 	// For slide toggle,
// 	contrast:
// 		(
// 			main: $light-primary-text,
// 			lighter: $dark-primary-text,
// 			darker: $light-primary-text
// 		)
// );
// $theme-primary: m2.define-palette($mat-primary, main, lighter, darker);

// body {
// 	--accent-color: #11de0b;
// 	--accent-lighter-color: #b8f5b6;
// 	--accent-darker-color: #0ad106;
// 	--text-accent-color: #{$dark-primary-text};
// 	--text-accent-lighter-color: #{$dark-primary-text};
// 	--text-accent-darker-color: #{$light-primary-text};
// }
// $mat-accent: (
// 	main: #11de0b,
// 	lighter: #b8f5b6,
// 	darker: #0ad106,
// 	200: #11de0b,
// 	// For slide toggle,
// 	contrast:
// 		(
// 			main: $dark-primary-text,
// 			lighter: $dark-primary-text,
// 			darker: $light-primary-text
// 		)
// );
// $theme-accent: m2.define-palette($mat-accent, main, lighter, darker);

// body {
// 	--warn-color: #f55050;
// 	--warn-lighter-color: #fccbcb;
// 	--warn-darker-color: #f03737;
// 	--text-warn-color: #{$dark-primary-text};
// 	--text-warn-lighter-color: #{$dark-primary-text};
// 	--text-warn-darker-color: #{$light-primary-text};
// }
// $mat-warn: (
// 	main: #f55050,
// 	lighter: #fccbcb,
// 	darker: #f03737,
// 	200: #f55050,
// 	// For slide toggle,
// 	contrast:
// 		(
// 			main: $dark-primary-text,
// 			lighter: $dark-primary-text,
// 			darker: $light-primary-text
// 		)
// );
// $theme-warn: m2.define-palette($mat-warn, main, lighter, darker);

// $theme: (
// 	primary: $theme-primary,
// 	accent: $theme-accent,
// 	warn: $theme-warn,
// 	is-dark: false,
// 	foreground: $mat-light-theme-foreground,
// 	background: $mat-light-theme-background
// );
// $altTheme: (
// 	primary: $theme-primary,
// 	accent: $theme-accent,
// 	warn: $theme-warn,
// 	is-dark: true,
// 	foreground: $mat-dark-theme-foreground,
// 	background: $mat-dark-theme-background
// );
html {
	// @include mat.core-theme($light-theme);
	// @include mat.all-component-themes($light-theme);
	@media (prefers-color-scheme: light) {
		@include mat.core-color($light-theme);
		@include mat.core-theme($light-theme);
		@include mat.all-component-themes($light-theme);

		input:-webkit-autofill {
			background-color: transparent !important;
			color: var(--black) !important;
			transition: all 9999s ease-in-out 0s !important;
		}
	}
	@media (prefers-color-scheme: dark) {
		// Theme Init
		// @include mat.all-component-themes($theme);

		// .theme-alternate {
		// 	@include mat.all-component-themes($altTheme);
		// }

		@include mat.core-color($dark-theme);
		@include mat.core-theme($dark-theme);
		@include mat.all-component-themes($dark-theme);

		input:-webkit-autofill {
			background-color: transparent !important;
			color: var(--white) !important;
			transition: all 9999s linear 9999s !important;
		}

		input:-internal-autofill-selected {
			background-color: transparent !important;
			color: var(--white) !important;
			transition: all 9999s linear 9999s !important;
		}
	}
}
