@import 'scss/index';

@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.min.css';
@import 'primeicons/primeicons.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body.font-arial {
	--font-family: Arial;
	font-family: Arial;
	--font-family-secondary: 'Roboto';
	--font-family-tertiary: 'Roboto Slab';
}

body.font-roboto {
	--font-family: 'Roboto';
	font-family: 'Roboto';
	--font-family-secondary: 'Roboto';
	--font-family-tertiary: 'Roboto Slab';
}

body.font-inter {
	--font-family: 'Inter';
	font-family: 'Inter';
	--font-family-secondary: 'Roboto';
	--font-family-tertiary: 'Roboto Slab';
}

body.font-playfair {
	--font-family: 'Playfair';
	font-family: 'Playfair';
	--font-family-secondary: 'Roboto';
	--font-family-tertiary: 'Roboto Slab';
}

body.light-theme {
	--surface-a: #def9f0;
	--surface-b: #3fa9ff;
	--surface-c: #0050a9;
	--surface-d: #01267e;
	--surface-e: #031d4e;

	--surface-900: #434d4c;
	--surface-700: #758294;
	--surface-500: #a9adb0;
	--surface-300: #d5d7de;
	--surface-100: #f5f7ff;

	--blue-50: #c8e9fa;
	--blue-100: #c8e9fa;
	--blue-200: #92d0f5;
	--blue-300: #5baae5;
	--blue-400: #3282cb;
	--blue-500: #0050a9;
	--blue-600: #003d90;
	--blue-700: #002e79;
	--blue-800: #012061;
	--blue-900: #001650;
	--green-50: #f4fcf7;
	--green-100: #caf1d8;
	--green-200: #a0e6ba;
	--green-300: #76db9b;
	--green-400: #4cd07d;
	--green-500: #22c55e;
	--green-600: #1da750;
	--green-700: #188a42;
	--green-800: #136c34;
	--green-900: #0e4f26;
	--yellow-50: #fefbf3;
	--yellow-100: #faedc4;
	--yellow-200: #f6de95;
	--yellow-300: #f2d066;
	--yellow-400: #eec137;
	--yellow-500: #eab308;
	--yellow-600: #c79807;
	--yellow-700: #a47d06;
	--yellow-800: #816204;
	--yellow-900: #5e4803;
	--indigo-50: #c8e9fa;
	--indigo-100: #c8e9fa;
	--indigo-200: #92d0f5;
	--indigo-300: #5baae5;
	--indigo-400: #3282cb;
	--indigo-500: #0050a9;
	--indigo-600: #003d90;
	--indigo-700: #002e79;
	--indigo-800: #012061;
	--indigo-900: #001650;
	--bluegray-50: #f7f8f9;
	--bluegray-100: #dadee3;
	--bluegray-200: #bcc3cd;
	--bluegray-300: #9fa9b7;
	--bluegray-400: #818ea1;
	--bluegray-500: #64748b;
	--bluegray-600: #556376;
	--bluegray-700: #465161;
	--bluegray-800: #37404c;
	--bluegray-900: #282e38;
	--gray-50: #f5f7ff;
	--gray-100: #e9eaed;
	--gray-500: #758294;
	--red-50: #fff5f5;
	--red-100: #ffd0ce;
	--red-200: #ffaca7;
	--red-300: #ff8780;
	--red-400: #ff6259;
	--red-500: #ff3d32;
	--red-600: #d9342b;
	--red-700: #b32b23;
	--red-800: #8c221c;
	--red-900: #661814;
	--primary-50: #c8e9fa;
	--primary-100: #c8e9fa;
	--primary-200: #92d0f5;
	--primary-300: #5baae5;
	--primary-400: #3282cb;
	--primary-500: #0050a9;
	--primary-600: #003d90;
	--primary-700: #002e79;
	--primary-800: #012061;
	--primary-900: #001650;

	--login-bg: #f0faeb;
	--primary-color: #92d0f5;
	--menu-box-shadow: #dae0fa;
	--submenu-panel: #fef7ff;
	--submenu-panel-content-active: #f2f4fc;
	--table-header: #fcfdfd;
	--table-border: #d5d5d5;
	--tag-color: #27354f;
	background-color: #f5f7ff;
}

body.dark-theme {
	--primary-color: #92d0f5;
	--submenu-panel: var(--surface-a);
	--surface-e: var(--text-color);
	--surface-d: var(--text-color);
	--blue-500: #0050a9;
	--blue-100: #92d0f5;
	--blue-200: #c4ffeb;
	--gray-500: #758294;
	--gray-100: var(--gray-800);
	background-color: black;
}
