@import 'scss/index';

@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.min.css';
@import 'primeicons/primeicons.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body.font-arial {
	--font-family: Arial;
	font-family: Arial;
}

body.font-roboto {
	--font-family: 'Roboto';
	font-family: 'Roboto';
}

body.font-inter {
	--font-family: 'Inter';
	font-family: 'Inter';
}

body.font-playfair {
	--font-family: 'Playfair';
	font-family: 'Playfair';
}

body.light-theme {
	--primary-color: #92d0f5;
	--surface-a: #def9f0;
	--surface-c: #dbe1fa;
	--surface-b: #f2f4fc;
	--submenu-panel: #fef7ff;
	--blue-500: #0050a9;
	--blue-200: #c4ffeb;
	--blue-100: #92d0f5;
	--gray-500: #758294;
	--gray-100: #e9eaed;
	--white: var(--gray-200);
	--black: #10101a;
	--black-010: var(--blue-500);
	--grey: var(--gray-200);
	background-color: #f5f7ff;
}

body.dark-theme {
	--primary-color: #92d0f5;
	--submenu-panel: var(--surface-a);
	--blue-500: #0050a9;
	--blue-100: #92d0f5;
	--blue-200: #c4ffeb;
	--gray-500: #758294;
	--gray-100: var(--gray-800);
	background-color: black;
}
