@import 'scss/index';

.hide-overlay {
	transform: translateX(100vw) !important;
	visibility: hidden !important;
	transition: all 0.2s linear;
}

.show-overlay {
	transform: translateX(0) !important;
	visibility: visible !important;
	transition: all 0.2s linear;
}
